@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Dag</th>
            <th>Kold ret</th>
            <th>Varm ret</th>
        </tr>
    </thead>
    <body>
        <tr>
            <td>Mandag</td>
            <td>Sandwich</td>
            <td>Lasagne</td>
        </tr>
        <tr>
            <td>Tirsdag</td>
            <td>Sandwich</td>
            <td>Spaghetti kødsovs</td>
        </tr>
        <tr>
            <td>Onsdag</td>
            <td>Pasta pesto</td>
            <td>Frikadeller</td>
        </tr>
        <tr>
            <td>Torsdag</td>
            <td>Sandwich</td>
            <td>Spaghetti kødsovs</td>
        </tr>
        <tr>
            <td>Fredag</td>
            <td>Sandwich</td>
            <td>Lasagne</td>
        </tr>
    </body>
</table>
